th {
  text-align: center;
  border: 1px black solid;
  padding: 5px;
  font-weight: bold;
  font-size: 10px;
}

td {
  border: 1px black solid;
  padding: 5px;
  font-size: 10px;
  text-align: center;
}

table {
  border-collapse: collapse;
  border: 2px black solid;
  width: 80%;
  overflow-y: scroll;
}

#chart4 {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
  height: 90%;
  overflow-y: scroll;
}

#table-container {
  height: 500px;
  /* border: 1px solid black; */
  margin: -20px 30px;
}

#myInput {
  margin: 2em 0em;
}

#search-filter {
  margin-left: 60px;
  margin-top: 10px;
  display: inline-block;
}
