/**
* Create a position for the map
* on the page */
#map {
    /* position: inherit; */
    width: 100%;
    height: 100%;
}

/**
Set rules for how the map overlays
(information box and legend) will be displayed
on the page. */

.map-overlay{
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    margin-right: 20px;
    font-family: Arial, sans-serif;
    border-radius: 3px;
}

#features {
    top: 0;
    height: 100px;
    margin-top: 20px;
    width: 250px;
    height: max-content;
}

#legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    margin-bottom: 40px;
    width: 300px;
}

#opacity-slider {
    font:bold 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    /* position: absolute; */
    width: 330px;
    height: 85px;
    /* margin-top: 300px; */
    margin: 2em 0em;
    padding: 10px;
}

.legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}
.map-overlay label {
    display: block;
    margin: 0 0 10px;
}
.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}

.mapboxgl-canvas {
    position: relative !important;
}
.mapboxgl-canvas-container {
    height: -webkit-fill-available;
    max-height: 50em;
}
