h3 {
  margin: 10px;
  font-size: 1em;
}

body {
  font-family: Avenir Next;
  margin: 0;
  padding: 0;
}

header {
  font-family: Avenir Next;
}

html {
  height: 100%
}

h1 {
  font-size: 24px;
  margin-left: 10px;
  /* color: #dc3545; */
}

h2 {
  font-size: 18px;
  /* color: grey; */
  margin-left: 10px;
  line-height: 8px;
}

#welcome-message {
  max-width: 60%;
  min-width: 30%;
  background-color: rgb(255,255,255,.75);
  padding: 3em;
  margin: 6em;
}

.row p {
  /* margin-left: 40px; */
  font-size: 14px;
}

body#index {
  background: linear-gradient(to left, transparent, rgba(255, 255, 255, 1.00)), url(../Images/catherine-little-1847-african-american-census-philadelphia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  margin-left: 30px;
  margin-bottom: 100px;
}

/* #logo img {
  height: 15px;
  margin-right: 30px;
} */

#logo span {
  /* font-family: Filosofia; */
  color: #dc3545;
  margin-right: 30px;
  letter-spacing: 0.8px;
}

.fill-red-swat {
  fill: #dc3545;
}

p {
  margin-left: 60px;
  font-size: 15px;
  /* margin-top: 50px; */
  margin: 10px;
  text-align: left;
}

.nav a {
  text-decoration: none;
  color: black;
}

a.selected {
  font-weight: bold;
}

a.navbar-brand {
  margin-left: 40px;
}

#title {
  margin-bottom: 30px;
  margin-left: 40px;
}

.description {
  margin-bottom: 100px;
}

.container {
  padding: 10px;
  text-align: center;
}

#intro {
  margin: 30px 5px 50px 5px;
  /* color: grey; */
}

#oldweb, #oldweb2 {
  width: 100%;
  margin-bottom: 30px;
}

.btn-sm {
  margin: 10px;
  float: left;
}

#chart {
  /* border: 1px solid pink; */
  height: 350px;
  z-index: 900;
  margin-left: 30px;
  margin-right: 30px;
}

#chart3 {
  /* border: 1px solid pink; */
  height: 350px;
  margin-left: 30px;
  margin-right: 30px;
}

#p-filter-f, #p-filter-m {
  display: inline-block;
  margin-top: 10px;
}

#cat-filter {
  margin-top: 20px;
}

#null-jobs {
  float: right;
  height: 243px;
  width: 17%;
  margin-top: -352px;
  margin-right: 30px;
  background-color: #e0ecf4;
  opacity: 0.5;
  z-index: 900;
  padding-top: 15px;
}

#null-jobs span {
  color: black;
  font-size: 11px;
  font-weight: bold;
}

.graph-title {
  text-align: center;
  display: inline-block;
  font-size: 14px;
}

.viz {
  margin-top: 20px;
}

.breadcrumb {
  background-color: white;
  margin-left: 40px;
  font-size: 13px;
}

.breadcrumb a {
  color: black;
}

.breadcrumb-item.active {
  color: #dc3545;
}

.intro h2 {
  margin-left: 70px;
  margin-right: 70px;
}

.intro p {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 50px;
}

.intro a {
  margin-left: 80px;
  margin-top: -30px;
  margin-bottom: 40px;
}

.btn.top {
  float: right;
  margin-right: 180px;
  margin-top: -210px;
}

#b1 {
  margin-top: -160px;
}

#occupation2, #occupation {
  margin-bottom: 150px;
  /* border-top: 1px solid black; */
}

a.link {
  color: #dc3545;
}

#occ #inputGroupSelect04 {
  /* margin-top: 50px; */
  margin-left: 100px;
  border: 1px solid black;
}

.input-group {
  width: 350px;
}

#about h2 {
  text-align: left;
  margin-left: -2px;
}

.nav-link {
  margin-left: 20px;
  
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, .8) !important;
}

a.github {
  margin-top: 20px;
}
