#female-filter .btn, #p-filter-f .btn {
  color: red;
}

#male-filter .btn, #p-filter-m .btn {
  color: #12cadb;
}

h2 {
   text-align: center;
   font-size: 20px;
   background-color: #f6f0ff;
   padding: 5px;
}

body {
  font-family: Verdana;
}

.nav {
  margin-left: 30px;
  margin-bottom: 100px;
}

p {
  margin-left: 30px;
  font-size: 13px;
  margin-top: 50px;
}

.nav a {
  text-decoration: none;
  color: black;
}

a.selected {
  font-weight: bold;
}

#title {
  margin-bottom: 30px;
  margin-left: 40px;
}

.description {
  margin-bottom: 100px;
}

.container {
  /* border: 1px solid purple; */
  padding: 10px;
  text-align: center;
}

#chart {
  /* border: 1px solid pink; */
  height: 350px;
  z-index: 900;
  margin-left: 30px;
  margin-right: 30px;
}

#null-jobs {
  float: right;
  height: 300px;
  width: 18%;
  margin-top: -352px;
  margin-right: 30px;
  background-color: pink;
  opacity: 0.3;
  z-index: 900;
  padding-top: 15px;
}

#null-jobs span {
  color: black;
  font-size: 11px;
}

.graph-title {
  text-align: center;
  font-weight: bold;
  display: inline-block;
}
